.config-slot {
    margin-bottom: 16px;
    &-name {
        line-height: 20px;
        margin-bottom: 6px;
        font-size: 12px;
        color: #4D4F56;
        span {
            display: inline-block;
            cursor: pointer;
        }
    }
}

.slot-tip-content {
  width: 400px;
  padding: 12px;
  .slot-tip-bg {
    line-height: 24px;
    background-color: #F5F7FA;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}