.vscode/
/test
/example
npm-debug.log
/tool
/doc
.nyc_output
node_modules
webpack_cache
.DS_Store
*.log
*.node
*.orig
.*
tests
__test__
format
coverage
out
output
appveyor.yml
build
src
*.0
*bak*
prod.html
.idea
package-lock.json
postcss.config.js
vite.config.ts
packages
scripts
site
.editorconfig
.eslintignore
.eslintrc.js
.yarnrc
babel.config.js
jest.config.js
lerna.json
tsconfig.json
plop-template
plopfile.js
.changelog.config.js
commitlint.config.js
index.d.ts
!lib/**/index.d.ts
index.html
