.config-collapse {
    &-title {
        display: flex;
        align-items: center;
        padding: 3px 0 3px 6px;
        border-radius: 2px;
        margin: 0 8px 8px;
        background-color: #F0F1F5;
        cursor: pointer;
        span {
            flex: 1;
            display: inline-block;
            margin-left: 6px;
            font-size: 14px;
            line-height: 22px;
            color: #313238;
        }
    }
}