@import '@bkui-vue/styles/themes/themes.less';

.bk-sideslider {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* fade-center */

/* slide过渡动画 */
.slide-enter-active,
.slide-leave-active,
.bk-modal-body {
  transform: translateX(0);
  transition: transform .25s;
}

.slide-enter-active {
  animation: slider-fade-in .25s;
}

.slide-leave-active {
  animation: slider-fade-in .25s reverse;
}

.slide-enter-from,
.slide-leave-to {
  &.left {
    transform: translateX(-100%);
    transition: transform .25s;
  }

  &.right {
    transform: translateX(100%);
    transition: transform .25s;
  }
}

@keyframes slider-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bk-modal-wrapper {
  &.bk-sideslider-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    //background: #fff;
    transform: initial;
    //box-shadow: -5px 0 8px -5px rgb(0 0 0 / 20%);

    &.scroll-able {
      .bk-modal-content {
        overflow: auto;
      }
    }

    .bk-sideslider-header {
      width: 100%;
      height: 52px;
      background: #fff;
      border-bottom: 1px solid #dcdee5;

      .bk-sideslider-close {
        position: absolute;
        top: 0;
        width: 30px;
        height: 52px;
        font-size: 24px;
        line-height: 52px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        background-color: @primary-color;

        &.right {
          left: 0;

          &::before {
            top: 50%;
            left: 50%;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-top: solid 2px #fff;
            border-right: solid 2px #fff;
            content: '';
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }

        &.left {
          right: 0;

          &::before {
            top: 50%;
            left: 50%;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-top: solid 2px #fff;
            border-left: solid 2px #fff;
            content: '';
            transform: translate(50%, -50%) rotate(-45deg);
          }
        }


      }

      .bk-sideslider-title {
        height: 52px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 52px;
        color: #313238;

        &.right {
          padding: 0px 0px 0px 50px;
        }
      }
    }

    .bk-sideslider-footer {
      display: flex;
      width: 100%;
      height: 54px;
      background: #fff;
      border-top: 1px solid transparent;
      align-items: center;
      box-shadow: rgb(0 0 0 / 6%) 0px -2px 4px 0px;
    }
  }
}

