@import '@bkui-vue/styles/themes/themes.less';
.bk-popover.bk-pop-confirm-box{
  padding:  16px 24px;
}
//.@{bk-prefix}-pop-confirm {
.bk-pop-confirm {

  &-title{
    font-size: 14px;
    color: #313238;
    padding-bottom: 12px;
  }
  &-icon{
    color: #FF5656;
    margin-right: 4px;
  }
  &-content{
    font-size: 12px;
    color: #63656E;
    padding: 0 0 20px;
  }
  &-simple{
    font-size: 14px;
  }
  &-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .bk-button{
      margin-left: 8px;
    }
  }
}
