@import '@bkui-vue/styles/themes/themes.less';

.@{bk-prefix}-popover {
  .bk-popover-reference {
    display: inline-block;
  }

  .bk-popover-content {
    display: none;
    padding: 7px 14px;
    font-size: 12px;
    color: #fff;
    background: #26323d;
    border-radius: 4px;
    box-sizing: border-box;

    &[data-theme='dark'] {
      color: #fff;
      background: #26323d;
    }

    &[data-theme='light'] {
      color: #26323d;
      background-color: #fff;
      box-shadow: 0 0 6px 0 #dcdee5;

      &[data-show] {
        box-shadow: 0 0 6px 0 #dcdee5;
      }
    }

    &[data-show] {
      display: block;
    }

    .arrow {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      visibility: hidden;

      &::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
        content: '';
        visibility: visible;
        transform: rotate(45deg);
      }
    }

    &[data-popper-placement^='top'] > .arrow {
      bottom: -4px;
    }

    &[data-popper-placement^='bottom'] > .arrow {
      top: -4px;
    }

    &[data-popper-placement^='left'] > .arrow {
      right: 0;
    }

    &[data-popper-placement^='right'] > .arrow {
      left: -8px;
    }
  }
}
