@import '@bkui-vue/styles/themes/themes.less';
@import '@bkui-vue/styles/mixins/animate.less';

.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-text() {
  margin-left: 4px;
  line-height: 18px;
}

.input() {
  width: 100%;
  height: 32px;
  padding: 0 28px 0 10px;
  line-height: normal;
  color: @default-color;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-color: @white-color;
  border: 1px solid @light-gray;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box;
  transition: all .1s;
  resize: none;
  .ellipsis();

  &::placeholder {
    color: @light-gray;
  }
}

.@{bk-prefix}-select {
  .select-icon(@fontSize: 20px, @color: #979ba5) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: @fontSize;
    color: @color;
  }

  .fix-icon() {
    position: absolute;
    top: 0;
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .mr(@marginRight) {
    margin-right: @marginRight;
  }

  .ml(@marginLeft) {
    margin-left: @marginLeft;
  }

  .active(@color: @primary-color) {
    border-color: @primary-color;
    outline: 0;
    box-shadow: 0 0 3px 0 @input-shadow-color;
  }

  .mr5 {
    .mr(5px)
  }

  .ml5 {
    .ml(5px)
  }

  ul {
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style: none;
  }

  &.large {
    .@{bk-prefix}-select-content-wrapper {
      font-size: 14px;
    }
  }

  &.is-focus.normal {
    .@{bk-prefix}-select-trigger .@{bk-prefix}-select-tag.@{bk-prefix}-select-tag--default {
      border-color: @primary-color;
      box-shadow: 0px 0px 3px 0px #a3c5fd;
    }
  }

  &.is-focus .@{bk-prefix}-input--default {
    border-color: @primary-color;
    outline: 0;
    box-shadow: 0px 0px 3px 0px @input-shadow-color;

    &.is-simplicity {
      border-color: transparent;
      border-bottom-color: @primary-color;
      box-shadow: none;

      .@{bk-prefix}-input--text {
        background-color: @input-block-color;
      }
    }
  }

  &.popover-show {
    .@{bk-prefix}-select-trigger .angle-up {
      transform: rotate(0);
    }
  }

  &.is-disabled {
    .@{bk-prefix}-input--text {
      cursor: not-allowed;
      background-color: #fafbfd;
    }
  }

  .@{bk-prefix}-input {
    &.is-focused {
      .active();

      &.is-simplicity {
        border-color: transparent;
        border-bottom-color: @primary-color;
        box-shadow: none;
      }
    }
  }

  .@{bk-prefix}-input--text {
    .ellipsis();
    padding-right: 24px;
    cursor: pointer;
    background-color: @white-color;
  }

  .@{bk-prefix}-select-trigger {
    position: relative;

    .@{bk-prefix}-tag-input .@{bk-prefix}-tag-input-trigger .clear-icon {
      margin-right: 0;
    }

    .@{bk-prefix}-select-tag {
      .input();
      display: flex;
      width: auto;
      align-items: center;

      &.has-prefix {
        padding-left: 0;
      }

      &.collapse-tag .@{bk-prefix}-select-tag-wrapper {
        height: 30px;
      }

      &:not(.collapse-tag) {
        position: relative;
        z-index: 1;
        height: auto;
        min-height: 32px;
        flex-wrap: wrap;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 2px 0;
        overflow: hidden;
      }

      &:not(.is-disabled):hover {
        border-color: #979ba5;
      }

      &.is-disabled {
        cursor: not-allowed;
        background-color: #fafbfd;
        border-color: #dcdee5;

        input {
          cursor: not-allowed;
        }

        .@{bk-prefix}-tag {
          cursor: not-allowed;

          &:hover {
            background-color: #f0f1f5;
          }

          .@{bk-prefix}-tag-close {
            cursor: not-allowed;
          }
        }

        .is-disabled {
          padding-left: 0;
        }
      }

      &-input {
        .input();
        .ellipsis();
        width: 1%;
        height: 22px;
        padding: 0;
        margin: 2px 5px 4px 0;
        background-color: transparent;
        border: none;
        flex-grow: 1;
      }

      .@{bk-prefix}-tag {
        max-width: 190px;
        padding: 0 4px;
      }
    }

    .angle-up {
      right: 4px;
      transform: rotate(180deg);
      transition: transform .3s cubic-bezier(.4, 0, .2, 1);
      .select-icon();
      .fix-icon();
    }

    .clear-icon {
      right: 4px;
      cursor: pointer;
      transition: all .1s;
      .select-icon(14px, #c4c6cc);
      .fix-icon();

      &:hover {
        color: #979ba5;
      }
    }

    .spinner {
      right: 6px;
      .fix-icon();
    }
  }

  &--prefix-area {
    display: flex;
    height: 100%;
    padding: 0 10px;
    margin-right: 10px;
    color: #63656e;
    background-color: #f5f7fa;
    border-right: 1px solid #c4c6cc;
    align-items: center;
  }
}

.@{bk-prefix}-popover {
  &.@{bk-prefix}-pop2-content {
    &.@{bk-prefix}-select-popover {
      padding: 0;
      border: 1px solid @disable-color;
      border-radius: 2px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .10);

      .@{bk-prefix}-select-content-wrapper {
        .@{bk-prefix}-select-empty {
          .flex-center();
          height: 56px;
          color: #63656e;

          .spinner {
            display: flex;
            width: 14px;
            height: 14px;
            margin-right: 4px;
            font-size: 14px;
            color: #c4c6cc;
            align-items: center;
            justify-content: center;
          }

          span {
            .icon-text()
          }
        }

        .@{bk-prefix}-select-dropdown {
          overflow: auto;

          &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
          }
      
          &::-webkit-scrollbar-thumb {
            background: #dde4eb;
            border-radius: 20px;
            box-shadow: inset 0 0 6px hsla(0,0%,80%,.3);
          }
        }

        .@{bk-prefix}-select-extension {
          display: flex;
          height: 40px;
          background-color: #fafbfd;
          align-items: center;
          border-top: 1px solid #dcdee5;
          border-radius: 0 0 2px 2px;
        }

        .@{bk-prefix}-select-options {
          padding: 4px 0;
        }

        .@{bk-prefix}-select-option {
          position: relative;
          display: flex;
          height: 32px;
          padding: 0 12px;
          line-height: 32px;
          color: #63656e;
          text-align: left;
          cursor: pointer;
          user-select: none;
          align-items: center;

          .ellipsis();

          .@{bk-prefix}-select-selected-icon {
            position: absolute;
            top: 5px;
            right: 10px
          }
          .@{bk-prefix}-select-checkbox {
            margin-right: 6px;
            pointer-events: none;
          }

          &-item {
            .ellipsis();
          }

          &.is-hover {
            background-color: #f5f7fa;
          }

          &:hover {
            color: #63656e;
            background-color: #f5f7fa;
          }

          &.is-selected:not(.is-checkbox) {
            color: #3a84ff;
            background-color: #e1ecff;
          }

          &.is-disabled {
            color: #c4c6cc;
            cursor: not-allowed;
            background-color: transparent;
          }

          &.is-multiple {
            padding-right: 32px;

            &.is-selected {
              background-color: #fff
            }

            &.is-hover {
              background-color: #f5f7fa;
            }

            &:hover {
              background-color: #f5f7fa;
            }
          }
        }

        .@{bk-prefix}-select-options-loading {
          .flex-center();

          span {
            .icon-text()
          }
        }

        .@{bk-prefix}-option-group {
          &-label {
            height: 32px;
            padding: 0 8px;
            line-height: 32px;
            color: #979ba5;
            text-align: left;

            &.collapsible {
              cursor: pointer;
            }
          }

          &.collapsible {
            .@{bk-prefix}-select-option {
              padding-left: 40px;
            }
          }

          &.disabled {
            .default-group-label {
              color: #c4c6cc;
              cursor: not-allowed;
            }
          }

          .default-group-label {
            display: flex;
            user-select: none;
            align-items: center;

            &-icon {
              display: flex;
              width: 12px;
              height: 12px;
              margin-right: 8px;
              transition: all .1s;
              align-items: center;
              justify-content: center;

              &.collapse {
                transform: rotate(-90deg);
              }
            }
          }

          .@{bk-prefix}-select-option {
            padding-left: 24px;
          }
        }

        .@{bk-prefix}-select-search-wrapper {
          display: flex;
          margin: 4px 8px 0 8px;
          border-bottom: 1px solid @input-block-hover-color;
          align-items: center;

          .icon-search {
            margin-left: 2px;
            color: @gray-color;
          }

          .@{bk-prefix}-select-search-input {
            .input();
            padding: 0 8px;
            cursor: text;
            border: none;
          }
        }
      }
    }
  }
}
