.config-item {
    margin-bottom: 20px;
    &.name-value-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-name {
        color: #313238;
        line-height: 20px;
    }
    .dynamic-type-select {
        margin-bottom: 6px;
    }
}