@import '@bkui-vue/styles/themes/themes.less';

&.@{bk-prefix}-info-wrapper {
  .@{bk-prefix}-modal-wrapper {
    width: 440px;

    .@{bk-prefix}-dialog-header {
      .@{bk-prefix}-dialog-title {
        margin-top: 16px;
      }
    }
  }

  .@{bk-prefix}-dialog-footer {
    button {
      min-width: 88px;
    }
  }
}

.@{bk-prefix}-info-sub-title {
  text-align: center;
  word-break: break-all;
}
