@import '@bkui-vue/styles/themes/themes.less';
@import '@bkui-vue/styles/mixins/scroll.less';
@import '@bkui-vue/virtual-render/virtual-render.less';
@import '@bkui-vue/checkbox/checkbox.less';
@import '@bkui-vue/button/button.less';
@import '@bkui-vue/exception/exception.less';
@import '@bkui-vue/pagination/pagination.less';
@import '@bkui-vue/popover2/popover2.less';
@import './plugins/head-filter.less';
@import './plugins/head-sort.less';
@import './plugins/settings.less';

.@{bk-prefix}-table {
  position: relative;
  height: auto;
  overflow: hidden;
  border-top: 1px solid @table-border-color;

  &.has-scroll-y {
    border-bottom: 1px solid @table-border-color;

    .@{bk-prefix}-table-head {
      padding-right: 4px;
    }

    &.is-scroll-bottom {
      border-bottom: 1px solid transparent;
    }
  }

  .@{bk-prefix}-table-body {
    position: relative;
    overflow: auto;
  }

  .@{bk-prefix}-table-head,
  .@{bk-prefix}-table-body {
    background: @table-bg-color;

    &.__is-empty {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      .@{bk-prefix}-table-body-content {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      align-self: flex-start;
      
      th,
      td {
        min-width: 80px;
        clear: both;

        .cell {
          height: var(--row-height);
          padding: 0 15px;
          overflow: hidden;
          font-size: 14px;
          line-height: var(--row-height);
          color: @table-body-font-color;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;

          &.expand-cell {
            padding: 0;
            text-overflow: unset;
          }

          .expand-btn-action {
            display: flex;
            padding: 0 15px;
            cursor: pointer;
          }
        }

        &.column_fixed {
          position: sticky;
          background: #fff;

          &.column_fixed_left {
            left: 0;
          }

          &.column_fixed_right {
            right: 0;
          }
        }

        &.row_expend {
          .expand-cell-ctx {
            min-height: 30px;
          }
        }
      }

      thead {
        th {
          font-weight: 400;
          color: @table-head-font-color;
          background-color: @table-head-bg-color;

          .cell {
            display: flex;
            align-items: center;
          }

          &.active,
          &:hover {
            background: @table-row-active-bg-color;
          }

          &.column_fixed {
            transform: translateX(var(--scroll-left));
          }
        }
      }

      tbody {
        tr {
          td {
            &.empty-cell {
              padding-bottom: 30px;
            }

            .cell {
              display: block;
              width: 100%;
              align-items: center;
              box-sizing: border-box;
            }
          }

          &:hover {
            td {
              &:not(.empty-cell) {
                background: @table-row-hover-bg-color;
              }
            }
          }
        }
      }
    }
  }

  .@{bk-prefix}-table-head {
    position: relative;
    transform: translateX(var(--scroll-head-left));

    .table-head-settings {
      position: absolute;
      top: 0;
      right: 1px;
      bottom: 1px;
      display: block;

      display: flex;
      width: calc(var(--row-height));
      font-size: 18px;
      cursor: pointer;     
      
      background: #f0f1f5;
      border-right: 1px solid #dcdee5;
      border-left: 1px solid #dcdee5;
      border-radius: 0px 2px 0px 0px;
      justify-content: center;
      align-items: center;
    }
  }

  .@{bk-prefix}-table-footer {
    line-height: 40px;
    border-top: 1px solid @table-border-color;
    border-bottom: 1px solid @table-border-color;
    
    &.is-hidden {
      display: none;
    }
  }

  &.bordered-row {
    td,
    th { 
      .cell {
        border-bottom: 1px solid @table-border-color;
      }
    }

    &.has-footer {
      border-bottom: none;

      &.has-scroll-y {
        tr {
          &:last-child {
            td {
              .cell {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }

  &.bordered-outer {
    border-right: 1px solid @table-border-color;
    border-left: 1px solid @table-border-color;
  }

  &.bordered-col {
    th,
    td {
      border-right: 1px solid @table-border-color;

      &:last-child {
        border-right: none;
      }
    }

  }

  &.bordered-none {
    th,
    td {
      border-top: none;
      border-right: none;
      border-left: none;

      .cell {
        border-bottom: none;
      }
    }
  }

  .@{bk-prefix}-table-fixed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

    .column_fixed {
      position: absolute;

      &.column_fixed_left {
        top: 0;
        left: 0;
        box-shadow: 0 0 10px rgb(0 0 0 / 12%);
      }

      &.column_fixed_right {
        top: 0;
        right: 0;
        box-shadow: 0 0 10px rgb(0 0 0 / 12%);
      }
    }

    .scroll-loading {
      &._bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
      }
    }
  }

  colgroup {
    col {
      background: @table-bg-color;

      &.active {
        position: relative;
        background: @table-row-active-bg-color;
      }
    }
  }
}
