  .config-tabs {
    display: flex;
    align-items: center;
    color: #4D4F56;
    div {
      flex: 1;
      border: 1px solid #C4C6CC;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
      &:hover {
        color: #3A84FF;
      }
    }
    div:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    div:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      margin-left: -1px;
    }
    .active {
      color: #3A84FF;
      background-color: #E1ECFF;
      border-color: #3A84FF;
      position: relative;
      z-index: 1;
    }
    .label-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: -1px;
    }
    .medium {
      padding: 2px 0;
    }
  }